---
import Card from "../../components/common/Card.astro";

import { latestArticles } from "../../utils/variables";
---

<section class="m-6">
  <div class="columns is-multiline is-desktop">
    {
      latestArticles.map((article) => {
        return (
          <div class="column is-6-desktop is-12-tablet">
            <Card
              image={article.image}
              title={article.title}
              placeholder={article.placeholder}
              url={article.url}
              description={article.description}
              date={article.date}
            />
          </div>
        );
      })
    }
  </div>
</section>
