---
import { t, changeLanguage } from "i18next";
import BaseLayout from "../../../layouts/BaseLayout.astro";
import Hero from "../../../components/common/Hero.astro";
import BlogCard from "../../../components/blog/BlogCard.astro";
import { fetchCollection } from "../../../utils/blog";
import { localizePath } from "astro-i18next";

changeLanguage("it");

const posts = await fetchCollection();
posts.sort((a: any, b: any) => b.data.date - a.data.date);
---

<BaseLayout
  pageTitle={t("blog.pageTitle")!}
  pageDescription={t("blog.pageDescription")!}
>
  <section class="has-text-centered mt-6">
    <Hero
      title={t("blog.title")}
      titleSize="is-size-2"
      titleSizeMobile="is-size-3"
      subtitle={t("blog.subtitle")}
      subtitleSize="is-size-4"
      subtitleSizeMobile="is-size-5"
    />
  </section>
  <section class="has-text-centered container mx-auto mt-6 mb-6">
    <div class="columns is-multiline">
      <div class="column is-12">
        {
          posts.map((post) => (
            <div class="mb-6 fade-in">
              <BlogCard
                title={post.data.title}
                date={post.data.date}
                description={post.data.description}
                slug={localizePath(`/blog/${post.slug}`)}
                devLink={post.data.devLink}
              />
            </div>
          ))
        }
      </div>
    </div>
  </section>
</BaseLayout>
