---
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../components/common/Hero.astro";
import GitCard from "../components/opensource/GitCard.astro";

import { getRepoData } from "../utils/github";
import { openSourceProjects } from "../utils/variables";
import { GitHubRepository } from "../types/types";

let response = openSourceProjects?.map(async ({ owner, repo }) => {
  return (await getRepoData(owner, repo))?.json();
});

let repoArray: GitHubRepository[] = (await Promise.allSettled(response)).map(
  (res: any) => res.value as GitHubRepository
);
---

<BaseLayout
  title="Open Source"
  description="Some Open Source projects that I've contributed!"
>
  <section class="has-text-centered mt-6">
    <Hero
      titleSize="is-size-2"
      titleSizeMobile="is-size-3"
      title="Open Source"
      subtitle="Some projects that I've contributed"
      subtitleSize="is-size-4"
      subtitleSizeMobile="is-size-5"
    />
  </section>
  <section class="columns is-multiline mx-auto mt-6 mb-6">
    {
      repoArray.map((item) => {
        return (
          <div class="column is-one-third">
            <GitCard
              id={item.id}
              full_name={item.full_name}
              html_url={item.html_url}
              description={item.description}
              stargazers_count={item.stargazers_count}
            />
          </div>
        );
      })
    }
  </section>
</BaseLayout>
