---
import { Icon } from "astro-icon";
import { getFormattedDate } from "../../utils/utils";

interface Props {
  title: string;
  date: Date;
  description: string;
  devLink?: string;
  slug?: string;
}

const { title, date, description, slug, devLink } = Astro.props;
---

<div class="card min-18-vh">
  <div class="media-content has-text-left h-6">
    <h4 class="title is-size-4">
      {title}
    </h4>
    <p class="subtitle is-size-5 is-flex">
      <Icon class="mr-1" size={22} name="ion:time-outline" />
      <time datetime={String(date)}> {getFormattedDate(date)}</time>
    </p>

    <div class="columns">
      <div class="column is-11">
        <p>{description}</p>
      </div>
      <div class="column is-1">
        <a href={devLink}> <Icon size={38} name="fa-brands:dev" /></a>
      </div>
    </div>
    <div class="columns">
      <div class="column is-12">
        <a href={slug}><h6 class="orange">Read more</h6></a>
      </div>
    </div>
  </div>
</div>
<style>
  .columns {
    margin-left: -0.75rem;
    margin-right: -0.75rem;
    margin-top: -0.75rem;
  }
</style>
