---
interface Props {
  image?: string;
  placeholder?: string;
  title?: string;
  url?: string;
  description?: string;
  date: string;
}

const { image, placeholder, title, url, description, date } = Astro.props;
---

<div class="card">
  <div class="card-image">
    <figure class="image is-16by9">
      <img src={image} alt={placeholder} />
    </figure>
  </div>
  <header class="card-header">
    <a href={url}><h5 class="card-header-title light-gray">{title}</h5></a>
  </header>

  <div class="card-content">
    <div class="content">
      {description}
      <div class="mt-4">
        <time>{date}</time>
      </div>
    </div>
  </div>
</div>
